<!doctype html>
<html lang="en">
  <head>
    <title>Add New Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <a href="/" class = "btn btn-primary">Return</a>
    <h1>Add New Movie</h1>
    <form action="{{ url_for('add_movie') }}" method="post">
      <label for="id">Movie ID:</label><br />
      <input type="text" id="id" name="id" required /><br />
      <label for="name">Movie Name:</label><br />
      <input type="test" id="name" name="name" required /><br />
      <label for="genre">Movie Genre:</label><br />
      <input type="text" id="genre" name="genre" required /><br />
      <label for="release">Movie Release Date:</label><br />
      <input type="text" id="release" name="release" required /><br />
      <label for="popularity">Movie Popularity:</label><br />
      <input type="text" id="popularity" name="popularity" required /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
