<!DOCTYPE html>
<html lang="en">
<head>
    <title>Completed Movies</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/" class = "btn btn-primary">Return</a>
        <h1 class="mt-5">Completed Movies</h1>
        <div class="mt-3">
            <a href="/add-complete-movie" class = "btn btn-danger">Log New User</a>
            <a href="/view-complete-movies" class = "btn btn-warning">View Completed Movies</a>
            <a href="/update-completed-movies" class = "btn btn-danger">Log Completed Movie</a>
            <a href="/delete-reviews" class = "btn btn-warning">Delete Reviews</a>
        </div>
    </div>
</body>
</html>